.jumbotron {
  height: 300px;
  color: rgb(179, 46, 46);
  background-color: #d7eef3;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  vertical-align: middle;
  flex-direction: column;
  justify-content: center;
}
